/*
    02-04-2019 Layout-3
*/

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, max-content);
    grid-gap: 1em;
    
    grid-template-areas:
        "header menu menu menu"
        "blank blank login sign-up"
        "post1 post1 post2 post2"
        "post3 post3 post4 post4"
        ;   
}

#title {
    grid-area: header;
}

#menu {
    grid-area: menu;
}

#post {
    grid-area: main;
}

#posts1 {
    grid-area: post1;
/*    background-color: red;*/
}

#posts2 {
    grid-area: post2;
/*    background-color: blue;*/
}
#posts3 {
    grid-area: post3;
/*    background-color: green;*/
}

#posts4 {
    grid-area: post4;
/*    background-color: yellow;*/
}

#login {
    grid-area: login;
}

#sign-up {
    grid-area: sign-up;
}