/* mobile responsive-1.css */
@media (max-width: 400px) {
    #container {
        width: 100%;
        grid-template-columns: 1fr;
    }
    
    #title {
        grid-column: 1;
        text-align: center;
    }
    
    #login, #sign-up, #menu, #post, #posts {
        grid-column: 1;
    }
    
    #title {
        grid-row: 1;
    }
    
    #menu {
        grid-row: 2;
    }
    
    #login {
        grid-row: 7;
    }
    
    #sign-up {
        grid-row: 8;
    }
    
    #posts1 {
        grid-row: 3;
    }
    
    #posts2 {
        grid-row: 4;
    }
    
    #posts3 {
        grid-row: 6;
    }
    
    #post4 {
        grid-row: 5;
    }
    
}


/* tablet */
@media (min-width: 401px) and (max-width: 800px) {
	#container {
		width: 100%;
		grid-template-areas: 
			"header menu menu menu"
			"blank blank sign-up login"
			"post1 post1 post2 post2"
            "post3 post3 post4 post4"
            ;
	}
	
	#menu-list {
		justify-content: space-between;
	}
	
	#menu-list li {
		margin-left: 0;	
	}
}
