/* mobile responsive-1.css */
@media (max-width: 400px) {
    #container {
		width: 100%;
		grid-template-areas: 
			"header" 
            "menu"
			"sign-up" 
            "login"
			"posts1"
            "posts2"
            "posts3" 
            "posts4"
            ;
	}
    #title {
        text-align: center;
    }

/* tablet */
@media (min-width: 401px) and (max-width: 800px) {
	#container {
		width: 100%;
		grid-template-areas: 
			"header menu menu menu"
			"blank blank sign-up login"
			"posts1 posts1 posts1 posts1" 
            "posts2 posts2 posts2 posts2"
            "posts3 posts3 posts3 posts3"
            "posts4 posts4 posts4 posts4"
            ;
	}
	
	#menu-list {
		justify-content: space-between;
	}
	
	#menu-list li {
		margin-left: 0;	
	}
}
