body {
	background: black;
	color: white;
	font-family: helvetica;
	font-size: 22px;
}

#container {
	width: 800px;
	margin: 0 auto;
	
}

img { width: 100%; }

.slide {
	border-bottom: 1px dashed white;
	margin-top: 1em;
}

footer {
    text-align: center;
}