/* 
	color scheme 4
	complementary color scheme
*/
:root {
	--main-hue: 310;
	--main-color: hsl(var(--main-hue), 50%, 50%);
		
	--accent-one-hue: calc(var(--main-hue) - 180);
	--accent-one: hsl(var(--accent-one-hue), 50%, 50%);
		
	--accent-two: hsl(var(--main-hue), 25%, 75%);
}

#title {
	color: var(--main-color);
}
	
.post {
	color: var(--main-color);
	border: 2px solid var(--accent-two);
	padding: 1em;
}
	
.author, .date {
	color: var(--accent-one);
}
	