:root {
	--main-color: #090909;
	--second-color: #696969;
    --bg-color: #a9a9a9;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
}

#title h1 {
	color: var(--second-color);
}

#menu a {
	color: var(--main-color);
}

#menu a:hover {
	background-color: var(--text-color);
}

#submit-post {
	background-color: var(--main-color);
    color: var(--text-color);
}

