/* color scheme */

:root {
	--main-color: #d7881e; /* orange */
	--accent-color: #919cba; /* light blue */
	--text-color: white;
	--banana: #478eda;
}

#title {
	color: var(--main-color);
	text-shadow: 2px 2px 0 var(--accent-color);
}

#login input, #sign-up input {
	background: var(--main-color);
	border: none;
	padding: 0.25em;
}
input::placeholder {
	color: var(--text-color);
}
	
#login button, #sign-up button {
	background: var(--main-color);
	color: var(--text-color);
	padding: 0.25em;
}
	
#menu a {
	color: var(--accent-color);
	transition: color 300ms ease-in;
}
	
#menu a:hover {
	color: var(--main-color);
}
	
#write-post {
	border: 1px solid var(--main-color);
}
#write-post::placeholder {
	color: var(--main-color);
}

#submit-post {
	background: var(--main-color);
	color: var(--text-color);
}

.post-text {
	border-bottom: 2px solid var(--banana);
}
	
.post .author {
	color: var(--main-color);
}
	
.post .date {
	color: var(--banana);
}
	
	
	
	
	
	
	
	
	
	
	
	
	