/*
    02-04-2019 Layout-1
*/

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    
    display: grid;
    grid-template-columns: repeat(3, lfr);
    grid-template-rows: repeat(4, max-content);
    grid-column-gap: 20px;
    grid-row-gap: 1em; 
}

#title {
    grid-column-start: 1;
    grid-column-end: 3;
}

#post {
    grid-column: 1 / span 3;
}

#login {
    grid-column: 3/ span 1;
    grid-row: 1;
}

#signin {
    grid-column: 3 / span 1;
    grid-row: 3
}

#menu {
    grid-column: 3 / span 1;
    grid-row: 2;
}

#post {
    grid-column: 1 / span 1;
    grid-row: 2;
}