/* mobile responsive-3.css */
@media (max-width: 400px) {
	#container {
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"menu"
			"header"
			"post"
			"main"
			"login"
			"sign-up";
	}
	
	#menu-list {
		justify-content: flex-end;
		flex-direction: row-reverse;
		align-items: baseline;
	}
	
	#menu-list li {
		margin-left: 0;
	}
}

/* tablet */
@media (min-width: 401px) and (max-width: 800px) {
	#container {
		width: 100%;
		grid-template-areas: 
			"menu menu header"
			"main post sign-up"
			"main post login";
	}
	
	#menu-list {
		justify-content: space-around;
	}
	
	#menu-list li {
		margin-left: 0;	
	}
}
