/* mobile */
@media (max-width: 400px) {
	#container {
		width: 100%;
		grid-template-columns: 1fr;
		grid-template-areas: 
			"menu"
			"header"
			"post"
			"main"
			"login"
			"footer";
	}
	
	#menu-list {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	
	#menu-list li {
		margin-left: 0;
	}
}

/* tablet */
@media (min-width: 401px) and (max-width: 800px) {
	#container {
		width: 100%;
		grid-template-areas: 
			"header header post"
			"main main main"
			"footer login menu";
	}
	
	#menu-list {
		justify-content: space-around;
	}
	
	#menu-list li {
		margin-left: 0;	
	}
}
