@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Montserrat:400,700,900');

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Merriweather', serif;
*/

* { box-sizing: border-box; }

body {
	font-size: 18px;
	line-height: 1.25;
	background-color: #B8D4A4;
}


#title, #login *, #sign-up *, #menu *, #post * {
	font-family: 'Montserrat', sans-serif;
}

#posts {
	font-family: 'Merriweather', serif;
}

#title h1 {
	margin: 0;
	color: #E88E63;
	text-shadow: 2px 2px 0 black;
}

#login *, #sign-up * {
	font-size: 1rem;
}

#menu a {
	color: #945B3F;
	padding: 0.1em;
	font-size: 1.25em;
	transition: background-color 300ms ease-in;
}

#menu a:hover {
	background-color:  #FFFFFF;
}


#write-post {
	font-size: 1.5rem;
	width: 100%;
	padding: 0.25em;
	resize: none;
}

#submit-post {
	font-size: 1.5rem;
	width: 100%;
	color: white;
	background-color: #E88E63;
	border: 0;
	outline: 0;
	padding: 0.25em 0;
}

.post {
	margin: 1em 0;
}

.post-text {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

.post-info {
	color: #945B3F;
}

.author {
	font-weight: bold;
}

.date {
	color: #D4825A;
}


/* adaptive */

/* mobile */

@media (max-width: 400px) {
    body {
        font-size: 14px;
        line-height: 1.2;
    }
    
    .post-text {
        font-size: 1.25em;
    }
}

/* tablet */

@media (max-width: 401px) and (min-width: 800px) {
    body {
        font-size: 16px;
    }
}


/* viewport sizes */

#title h1 {
    font-size: 5vw;
}
.post-text {
    font-size: 3vmax;
}

/* mobile */

@media (max-width: 400px) {
    
}

/* tablet */


