<!doctype html>
<html>
    
    <head>
     
	<title>layout</title>
     
      <link href="style.css" rel="stylesheet" type="text/css"> 
    
	  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, inital-scale=1">
        
    </head>
    
    <body>

        <div id="container">
            <!-- title / logo -->

            <div id="title">
                <h1>My App</h1>
            </div>

            <!-- login -->
            <div id="login">

                <input type="text" id="login-username" placeholder="Username/Email">

                <input type="password" id="login-password" placeholder="Password">

                <button id="submit-login">Login</button>

            </div>

            <!-- sign up -->
            <div id="sign-up">

                <input type="text" id="sign-up-username" placeholder="Username">

                <input type="email" id="sign-up-email" placeholder="Email">

                <input type="password" id="sign-up-password" placeholder="Password">

                <button id="submit-sign-up">Sign Up</button>

            </div>

            <!-- navigation / menu -->
            <div id="menu">

                <ul id="menu-list">

                    <li><a href="">Home</a></li>

                    <li><a href="">Profile</a></li>

                    <li><a href="">Settings</a></li>
                    
                    <li><a href="">About</a></li>

                    <li><a href="">User</a></li>

                </ul>

            </div>

            <!-- posting content -->
            <div id="post">

                <textarea id="write-post" placeholder="What's happening?">
                </textarea>

                <button id="submit-post">Post</button>

            </div>

            <!-- feed/posts/users content -->
            <div id="posts">

                <!-- post 1 -->
                <div class="post">

                    <div class="post-text">I skate to where the puck is going to be, not to where it has been.</div>

                    <div class="post-info">
                        by <span class="author">Wayne Gretzky</span>

                        on <span class="date">January 30, 2000</span>

                    </div>

                </div>

                <!-- post 2 -->
                <div class="post">

                    <div class="post-text">There’s one thing I’m really good at, and that’s hitting the ball over a net, in a box. I’m excellent.</div>

                    <div class="post-info">
                        by <span class="author">Serena Williams</span>

                        on <span class="date">November 1, 2020</span>

                    </div>

                </div>

                <!-- post 3 -->
                <div class="post">

                    <div class="post-text">I've missed more than 9000 shots in my career. I've lost almost 300 games. 26 times, I've been trusted to take the game winning shot and missed. I've failed over and over and over again in my life. And that is why I succeed..</div>

                    <div class="post-info">
                        by <span class="author">Michael Jordan</span>

                        on <span class="date">December 31, 1999</span>

                    </div>

                </div>

            </div>

        </div>
    
    </body>
    
</html>